<div class="row">
    <div class="col">
        <app-filters></app-filters>
    </div>



    <div class="col-md-9">
        <mat-tab-group>
            <mat-tab label="Acrylic"> Content 1 </mat-tab>
            <mat-tab label="Polygel">  <app-product-list></app-product-list></mat-tab>
            <mat-tab label="Rubberbase"> Content 3 </mat-tab>
            <mat-tab label="Nail Art"> Content 1 </mat-tab>
            <mat-tab label="Pedigel">  <app-product-list></app-product-list></mat-tab>
            <mat-tab label="Extras"> Content 3 </mat-tab>
          </mat-tab-group>
          
      
   </div>


    <div class="col">
        <app-cart></app-cart>
    </div>
</div>