<div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Service</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="appointment.appointmentService"
          name="appointmentService"
        />
      </div>
      
      <div class="form-group">
        
        <label for="description">Appointment Date</label>
        <input
          class="form-control"
          id="appointmentDate"
          required
          [(ngModel)]="appointment.appointmentDate"
          name="appointmentDate"
        />
      </div>
      <div class="form-group">
        <label for="description">Appointment Time</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="appointment.appointmentTime"
          name="appointmentTime"
        />
      </div>
      <button (click)="saveAppointment()" class="btn btn-success">Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newAppointment()">Add Extras</button>
    </div>
    
  </div>
<!--
  <div>
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>
    <p>Selected date: {{selected}}</p>
  </div>
  
-->








