mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-divider{
  background-color: #E2B2A2;
}

.menu-button{
  color: #E2B2A2;
  font-family: Inter;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: rgba(0, 0, 0, 0.43);
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  height: calc(100vh - 65px);

}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  font-size: 2rem;
  color: lightgray;
  background: rgba(0, 0, 0, 0.43);
}


mat-sidenav-container {
  height: calc(100vh - 65px);
  background-image: url(/assets/images/hompageBannerBackground.svg);
  background-repeat: no-repeat;
  background-size: auto 830px;

}

.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

mat-sidenav-content {

  box-shadow: 0px 0px;
}

section {
  background: rgba(0, 0, 0, 0.43);
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
}

.middle-section {
  flex: 2;
  margin: 20px 20px;
}

.right-section {
  margin: 20px 20px;
  flex: 1;
  margin-left: -1px;
}

.top-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.welcome {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  color: white;
}

.sign-out-button {
  width: 106px;
  height: 35px;
  background: #E2B2A2;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.43);
}

mat-card{
  color:#E4BDB0;
}

.count-section{
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/assets/images/time-background.svg);
  background-color: rgba(0, 0, 0);
  border-radius: 15px;
}

mat-calendar{
  height: 360px;
  width: 310px;
  margin-top: -30px;
}

.line{
  width: 300px;
  height: 1px;
  background-color: #E2B2A2;
}

.demo-inline-calendar-card{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  background: rgba(10, 10, 10, 0.7);
}

.other-stuff{
  margin-left: 70px;
  margin-top: 20px;
}

::ng-deep .mat-calendar-body-cell-content{
  color:#E2B2A2;
}

::ng-deep .mat-calendar-body-label{
  color:#E2B2A2;
}

::ng-deep .ng-star-inserted{
  color: #E2B2A2;
}

.circle1,
.circle2,
.circle3,
.circle4{
  background-color: #004a9f;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.circle1{
  background-color: #ED96DA;
}

.circle2 {
  background-color: #93E891;
}

.circle3 {
  background-color: #F25757;
}

.circle4 {
  background-color: #17A1FA;
}

.text{
  color: #E2B2A2;
}

.description{
  color: #E2B2A2;
  padding: 5px 0px;
  font-size: 20px;
  margin-left: 30px;
  text-align: center;
  padding-top: 10px;
}

.desc{
  display: flex;
}

.number{
  font-size: 20px;
  color: #E4BDB0;
}

.designation,
.name{
  color: #E4BDB0;
}

.designation{
  margin-top: -15px;
  margin-bottom: 80px;
}

.right-section{
  font-size: 20px;
  background-color: rgba(18, 16, 15, 0.81);
  border-radius: 15px;
  padding: 20px 20px;
}
