<mat-sidenav-container class="example-container" >
    <mat-sidenav mode="side" opened class="mat-elevation-z8">
        
        <div>
            <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />
            <h4 class="name">Lolly</h4>
            <p class="designation">Admin</p>
            
        </div>
       
       
        <button mat-button class="menu-button">
            <span>HOME</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" [routerLink]="['/report-test']" >
            <span>REPORTS</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <span>CLIENTS</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" [routerLink]="['/list']" >
            <span>APPOINTMENTS</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <span>SETTINGS</span>
        </button>

       

      
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
         
        <div class="content mat-elevation-z8">
           
        
        <div >
           
          </div>
          <div>
            <app-app-booking></app-app-booking>
          </div>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  