
    <div>
      <app-app-booking></app-app-booking>

      <google-pay-button
       environment="TEST"
       buttonSizeMode="fill"
       [paymentRequest]= "paymentRequest"
       (loadpaymentdata) = "onLoadPaymentData($event)" ></google-pay-button>
   </div>
 
 <!-- 
   <div class="container">
    <h2 class="mt-5 mb-4">Angular Stripe Checkout Example</h2>
    <div class="col-md-5 mb-2">
      <button (click)="makePayment(15)" class="btn btn-danger btn-block">Pay $15</button>
    </div>
   
  </div> -->

  <h2>Services</h2>
  <ul class="heroes">
    <li *ngFor="let poly of polygel">
      <button [class.selected]="poly === selectedPolygel" type="button" (click)="onSelectP(poly)">
        <span class="badge">{{poly.time}}</span>
        <span class="name">{{poly.name}}</span>
        <span class="name">{{poly.price}}</span>
      </button>
    </li>
  </ul>

  <div *ngIf="selectedPolygel">

    <div>
      <label for="hero-name">Service Chosen :  </label>
      <input id="hero-name" [(ngModel)]="selectedPolygel.name" name ="hero-name" placeholder="name">
    </div>
  </div>
        <mat-form-field class="example-form">
          <input matInput [matDatepicker]="pickerfromdt" placeholder="Appointment Date" id="fromdt" name="AppointmentDate" #fromdt="ngModel" [ngModel]="currentDate" required>
          <mat-datepicker-toggle matSuffix [for]="pickerfromdt"></mat-datepicker-toggle>
          <mat-datepicker #pickerfromdt></mat-datepicker>
      </mat-form-field>

      <div class="form-group col-md-6">
        <label class="  col-form-label text-md-right" for="aptTime">Time</label>

        <input type="time" class="form-control" name="aptTime" id="aptTime" ngModel>

      </div>
      <mat-card-actions align="start">
        <button type="submit" mat-raised-button  color="primary">Book</button>

        <span class="med-spacer"></span>
        <span matTooltip="Search">

        </span>
        <span class="small-spacer"></span>
      <!--   <span matTooltip="Show Recent Results">
          <mat-icon color="primary" (click)="getData();">cached</mat-icon>
        </span> -->
    </mat-card-actions>