<section class="welcome-section">
  <img class="banner" src="assets/images/hompageBanner.svg">
</section>
<section class="quote-section">
  “Nail art does not need to be perfect. <br> It just needs to be you.”
</section>
<section class="option-section">
  <button mat-button class="option-button" routerLink="/booking-payment">
    <img class="option-image" src="assets/images/grid1.png">
    <p class="option-text">Acrylic</p>
  </button>
  <button mat-button class="option-button">
    <img class="option-image" src="assets/images/grid2.png">
    <p class="option-text">Rubberbase</p>
  </button>
  <button mat-button class="option-button">
    <img class="option-image" src="assets/images/grid3.png">
    <p class="option-text">Polygel</p>
  </button>
  <button mat-button class="option-button">
    <img class="option-image" src="assets/images/grid4.png">
    <p class="option-text">Nail Art</p>
  </button>
  <button mat-button class="option-button">
    <img class="option-image" src="assets/images/grid5.png">
    <p class="option-text">Pedigel</p>
  </button>
  <button mat-button class="option-button">
    <img class="option-image" src="assets/images/grid6.png">
    <p class="option-text">Extras</p>
  </button>
</section>

<section class="find-us-section">
  Where to find us?
</section>

<!--footer-->
<div class="footer">
  <div class="prompt">
    Do you have a question?
    <button class="prompt-button" mat-button routerLink="home">
      Contact Us
    </button>
  </div>

</div>
  <!--
    TODO: ADD THESE BUTTONS TO THE ADMIN HOMEPAGE INSTEAD OF CLIENT
      <button mat-raised-button color="primary" (click)="book()">
     test
  </button>

<button mat-raised-button color="primary" [routerLink]="['/book-now']">
    Book now 2
 </button>

 <button mat-raised-button color="accent" [routerLink]="['/salon']">
  ServiceList
</button>

<button mat-raised-button color="accent" [routerLink]="['/report-test']">
  report-test
</button>
  -->
