<!-- <h1 *ngIf="user$ |async as user">Welcome to your home page,  {{user.displayName}}!</h1>-->

<!DOCTYPE html>

<html>
    <head>
        <title>Lavish Nails Home</title>
        <link rel="stylesheet" href="home.component.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Inria+Sans&family=Inter:wght@400;500;600;700;800&family=Istok+Web&family=Italianno&family=Roboto&display=swap"
            rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <img class="homepage_logo" src="icons/homepage_logo.svg">

            <div class="navigation_buttons">
                <button class="about_us_button">
                    ABOUT US
                </button>
                <button class="nail_category_button">
                    NAIL CATEGORY
                </button>
                <button class="contact_us_button">
                    CONTACT US
                </button>
                <button class="login_button">
                    LOGIN
                </button>

            </div>

        </header>

        <section class="welcome_section">
            <div class="welcome_image">
                <img class="homepage_image1" src="icons/homepage_image1.svg">
            </div>
            
            <div class="full_logo">
                <img class="full_logo_image" src="icons/full_logo.svg">

                <div class="booking_prompt_section">
                    <p class="booking_prompt">Would you like to book a session with us?</p>
                    <button class="book_button">Book a session</button>
                </div>
                
            </div>
        </section>

        <section class="information_section">
            <div class="service_description_section">
                <p class="service_heading">Our Services</p>
                <p class="service_description">We offer a Wide Range of Affordable Nail Salon Services such as : <br>
                &emsp; &#8226; &nbsp; Rubberbase <br>
                &emsp; &#8226; &nbsp; Polygel <br>
                &emsp; &#8226; &nbsp; Acrylic <br>
                &emsp; &#8226; &nbsp; Gel Pedi <br>
                &emsp; &#8226; &nbsp; Nail Art <br>
                &emsp; &#8226; &nbsp; Extras <br>
                </p>
            </div>

            <div class="service_image">
                <img class="homepage_image2" src="icons/homepage_image2.png">
            </div>
            

        </section>

        <section class="find_us_section">
            <img class="find_us_background" src="icons/homepage_image3.png">
            <div class="find_us_prompt">
                <p>Where to find us?</p>
            </div>

        </section>
    </body>
</html>