<h1 >Welcome to your home page</h1>
<div>
    <button mat-raised-button color="primary" (click)="book()">
     test 
  </button>

<button mat-raised-button color="primary" [routerLink]="['/book-now']">
    Book now 2
 </button>

 <button mat-raised-button color="accent" [routerLink]="['/salon']">
  ServiceList
</button>

<button mat-raised-button color="accent" [routerLink]="['/report-test']">
  report-test
</button>
<button mat-raised-button color="accent" [routerLink]="['/landing']">
  serve
</button>
  </div>
