.welcome-section{
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/images/hompageBannerBackground.svg);
}

.quote-section{
  display: flex;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 40px;
  height: 100px;
  line-height: 70px
}

.option-image{
  width: 220px;
  height: 270px;
}

.option-button{
  background-color: #EBD3CC;
  width: 270px;
  height: 370px;
  margin-bottom: 50px;
}

.option-text{
  font-family: ZCOOL XiaoWei;
}

.option-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-top: 140px;
  padding-bottom: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
}

.find-us-section{
  display: flex;
  background-image: url(/assets/images/find-us.svg);
  height: 500px;
  font-family: Italianno;
  color: white;
  font-size: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
