

  <mat-card>
    <mat-card-content>
        <div  *ngIf="(toggleField=='searchMode') else (toggleField=='addMode')? showAddMode : ((toggleField=='editMode')? showEditMode : showResMode)">
            <!-- searchmode -->
            <form #searchFormData="ngForm" class="example-form">
              <mat-card-actions align="start">

                <span class="med-spacer"></span>
                <span matTooltip="Add New">
                    <button class="continue" type="button" mat-raised-button color="primary" (click)="toggle('addMode');">Continue to booking</button>
                </span>

              </mat-card-actions>

            </form>
        </div>
    </mat-card-content>
  </mat-card>
  <!-- addMode -->
  <ng-template #showAddMode>
    <form #addDataForm="ngForm" (ngSubmit)="setAppData(addDataForm.value);" novalidate>

      <mat-card *ngIf="savedChanges">

        <!-- THE ENTIRE PAYMENT SUMMARY NEEDS TO REDONE, AS IT IS HARDCODED AT THE MOMENT -->
        <div class="container" style="width:500px; border:0px">
          <h1 class="mt-5 mb-4" style="text-align: center; color: black;"> Payment <br>
                                                            Summary <br>
                                                            <br><br>

                                                          </h1> <br>
          <h3 style="color: black;">Acrylic Nails</h3>
          <div style="display:flex; flex-direction:row; justify-content:space-between; margin-top:-50px">
            <h3 class="mt-5 mb-4" style="color: black;"> {{selectedHero!.name}} (Small Nails)</h3>
            <h3 class="mt-5 mb-4" style="color: black;"> R {{selectedHero!.id}}.00</h3>
          </div>

          <div style="display:flex; flex-direction:row; justify-content:space-between; margin-top:-80px">
            <h3 class="mt-5 mb-4" style="color: black;"> Extras</h3>
            <h3 class="mt-5 mb-4" style="color: black;"> R0.00</h3>
          </div>
          <div style="display:flex; flex-direction:row; justify-content:space-between; margin-top:-80px">
            <h3 class="mt-5 mb-4" style="color: black;"> <b>VAT</b></h3>
            <h3 class="mt-5 mb-4" style="color: black;"> R {{selectedHero!.id * 0.15}}</h3>
          </div>
          <div style="display:flex; flex-direction:row; justify-content:space-between; margin-top:-80px">
            <h3 class="mt-5 mb-4" style="color: black;"> <b>TOTAL (VAT INCL)</b></h3>
            <h3 class="mt-5 mb-4" style="color: black;">R {{selectedHero!.id}}.00</h3>
          </div>
          <div style="display:flex; flex-direction:row; justify-content:space-between; margin-top:-80px">
            <h3 class="mt-5 mb-4" style="color: black;"> <b>Deposit @ 50% </b></h3>
            <h3 class="mt-5 mb-4" style="color: black;"> R{{selectedHero!.id/2}}.00</h3>
          </div>





            <button style="width: 200px; color: black;" (click)="makePayment(selectedHero!.id/2,selectedHero!.name)" class="btn  btn-block">Pay Now</button> <br>
            <button style="width: 200px; margin-top: 20px; color: black;" class="btn  btn-block">Pay Later</button>

        </div>
          <!-- Data is saved, proceed below.-->

          <label class="small-spacer"></label>

      </mat-card>
      <div class="body" *ngIf="!savedChanges">


      <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
      <div class="prompt-part">
        <img class="book-picture" src="assets/images/book-picture.svg">
        <div class="prompt">
          <h1 class="option" style="color: black;">Acrylic Nails</h1>
          <div class="prompt1" style="color: black;"> <h2 class="text">Price Range</h2> <h2 class="text">R300 - R400</h2> </div>
          <div class="prompt1" style="color: black;"> <h2 class="text">Nail Sizes</h2> <h2 class="text">S, M, L</h2> </div>

        </div>
      </div>

      <div class-="nails">
          <h2 class="nail-sizes" style="color: black;">Please select a nail size and service</h2>
          <div class="nail-buttons">
            <button class="btn" style="color: black;">
              S
            </button>
            <button class="btn" style="color: black;">
              M
            </button>
            <button class="btn" style="color: black;">
              L
            </button>

          </div>

      </div>


      <ul class="heroes">

        <li *ngFor="let hero of heroes">
          <button class="option-button" [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
            <span class="badge" style="color: black;">R {{hero.id}}</span>
            <span class="name" > {{hero.name}}</span>
          </button>
        </li>
      </ul>

      <div class="extras" style="color: black;">
        Would you like any extras?
        <div style="margin-top:20px;">
          <input type="radio" id="html" name="fav_language" value="HTML">
          <label for="html" style="color: black;">Yes</label><br>
        </div>
        <div style="margin-bottom:50px;" style="color: black;">
          <input type="radio" id="css" name="fav_language" value="CSS">
          <label for="css" style="color: black;">No</label><br>
        </div >
        Please select a date and time
      </div>

      <mat-form-field class="example-form">
        <div *ngIf="selectedHero">

          <div class="mat-form-field">
            <label for="hero-name" style="color: black;">Service Chosen :  </label>
            <input id="hero-name" [(ngModel)]="selectedHero.name" name ="hero-name" placeholder="name">
          </div>
        </div>

        <input matInput [matDatepicker]="pickerfromdt" [min]="currentDate" placeholder="Appointment Date" id="fromdt"  name="AppointmentDate" #fromdt="ngModel" [ngModel]="currentDate" required>
        <mat-datepicker-toggle matSuffix [for]="pickerfromdt"></mat-datepicker-toggle>
        <mat-datepicker #pickerfromdt></mat-datepicker>

        <span class="med-spacer"></span>
        <div class="form-group col-md-6">
          <span class="med-spacer"></span>
          <span class="med-spacer"></span>
          <label class="  col-form-label text-md-right" for="aptTime" style="color: black;">Time</label>

          <input style="width:200px;" type="time"  [min]="min" [max]="max" class="form-control"  name="aptTime" id="aptTime"  [(ngModel)]="value" required>

        </div>
      </mat-form-field>


      <mat-card-actions align="start">
        <button class="book-button" type="submit" mat-raised-button [disabled]="!addDataForm.valid" color="primary">Book</button>

        <span class="med-spacer"></span>
        <span matTooltip="Search">

        </span>
        <span class="small-spacer"></span>
      <!--   <span matTooltip="Show Recent Results">
          <mat-icon color="primary" (click)="getData();">cached</mat-icon>
        </span> -->
      </mat-card-actions>
      </div>

    </form>
  </ng-template>

  <!-- Results mode -->
  <ng-template #showResMode>
    <mat-card-actions align="start">
        <span class="med-spacer"></span>
        <span class="med-spacer"></span>
        <span class="med-spacer"></span>
       <!--  <span matTooltip="Add New">
            <mat-icon color="primary" (click)="toggle('addMode')">add</mat-icon>
        </span> -->
        <span class="small-spacer"></span>
        <span matTooltip="Search All">
            <mat-icon color="primary" (click)="toggle('searchMode')">search</mat-icon>
        </span>
    </mat-card-actions>


    <div class="example-header">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search Recent Results">
      </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Appointment Date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Appointment Date</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.AppointmentDate.toDate().toString('yyyy-MM-dd') }} </mat-cell>
                </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Service Name</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row._serviceName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
                    <mat-cell *matCellDef="let row"> R{{row._price}}.00 </mat-cell>
                </ng-container>
                <ng-container matColumnDef="_id">
                  <mat-header-cell *matHeaderCellDef> action </mat-header-cell>
                  <mat-cell *matCellDef="let row">

                       <span matTooltip="Edit">
                          <button mat-icon-button (click)="getAppDoc(row._id)">
                              <mat-icon color="primary">edit</mat-icon>
                          </button>
                      </span>
                      <span matTooltip="Delete">
                          <button mat-icon-button (click)="deleteAppDoc(row._id)">
                              <mat-icon color="primary">delete</mat-icon>
                          </button>
                      </span>



                  </mat-cell>
              </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </ng-template>

  <!-- edit mode -->
  <ng-template #showEditMode>
    <form #editDataForm="ngForm" (ngSubmit)="updateAppData(editDataForm.value);" novalidate>
        <input type="hidden" name="_id" id="_id" [ngModel]="myDocData._id" required>
        <mat-error *ngIf="savedChanges">
            Data is saved.
            <label class="small-spacer"></label>
            <mat-icon (click)="this.editDataForm.reset();savedChanges=false;toggle('searchMode');">clear</mat-icon>
        </mat-error>
        <div *ngIf="!savedChanges">

            <mat-error *ngIf="error">Error: {{ errorMessage }}</mat-error>
            <mat-card-actions align="start">
                <button type="submit" mat-raised-button [disabled]="!this.editDataForm.valid || this.editDataForm.pristine" color="primary">Update</button>
                <span class="med-spacer"></span>
                <span matTooltip="Search">
                    <mat-icon color="primary" (click)="toggle('searchMode')">search</mat-icon>
                </span>
                <span class="small-spacer"></span>

            </mat-card-actions>
            <h2>Services</h2>
            <ul class="heroes">
              <li *ngFor="let hero of heroes">
                <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
                  <span class="badge"> {{hero.id}}</span>
                  <span class="name">{{hero.name}}</span>
                </button>
              </li>
            </ul>

            <div *ngIf="selectedHero">
              <h2>{{selectedHero.name | uppercase}} Details</h2>
              <div>id: {{selectedHero.id}}</div>
              <div>
                <label for="hero-name">Hero name: </label>
                <input id="hero-name" [(ngModel)]="myDocData.name" placeholder="name">
              </div>
            </div>
            <mat-form-field class="example-form">
              <input matInput [matDatepicker]="pickerfromdt" placeholder="Appointment Date" id="fromdt" name="AppointmentDate" #fromdt="ngModel" [ngModel]="myDocData.AppointmentDate" required>
              <mat-datepicker-toggle matSuffix [for]="pickerfromdt"></mat-datepicker-toggle>
              <mat-datepicker #pickerfromdt></mat-datepicker>
          </mat-form-field>

          <div class="form-group col-md-6">
            <label class="  col-form-label text-md-right" for="aptTime">Time</label>

            <input type="time"  class="form-control" name="aptTime" id="aptTime" [(ngModel)] = "myDocData.aptTime"  >

          </div>


        </div>
    </form>
  </ng-template>








