.submit-form {
    max-width: 300px;
    margin: auto;
  }

  .demo-inline-calendar-card {
    width: 300px;
  }
  /* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;

}

td, th {
  width: 25%;
}
/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes li {
  display: flex;
}

.heroes button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #D9D9D9;
  margin: .5em;
  padding: 0;
  border-radius: 15px;
  display: flex;
  align-items: stretch;
  height: 40px;
  border: 0px;
  width: 400px;
}

.heroes button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.welcome-section {
  background-image: url(/assets/images/hompageBannerBackground.svg);
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroes button:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes button.selected {
  background-color: black;
  color: white;
}

.heroes button.selected:hover {
  background-color: #505050;
  color: white;
}

.heroes button.selected:active {
  background-color: black;
  color: white;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  font-weight:200;
  color: black;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#D4AF9C;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 15px 0 0 16px;
  padding-bottom: 4px;
  text-align: center;
  height: 40px;
  font-family: 'ZCOOL XiaoWei';
}

.heroes .name {
  align-self: center;
  font-family: 'ZCOOL XiaoWei';
}

.mat-card{

  display: flex;
  justify-content: center;
  align-items: center;


}

.continue{
  background: rgba(0, 0, 0, 0.62);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 100px;
  width: 600px;
  font-size: 30px;
  color: #E2B2A2;
}

.option-button{
  height: 100px;
  width: 400px;
}

.prompt-part{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
  padding-bottom: 50px;
}

.book-picture{

  width: 400px;
  height: 350px;
  margin-right: 90px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.heroes{
  width: 400px;
}
.nails{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.prompt1{
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.text,
.option{
  font-family: 'ZCOOL XiaoWei';
}

.extras{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'ZCOOL XiaoWei';
  font-size: 20px;
}

.book-session{
  background: rgba(0, 0, 0, 0.62);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: #E2B2A2;
  border: 0px;
  height: 50px;
  width: 200px;
}

.nail-buttons{
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.nail-sizes{
  text-align: center;
}

.nail-sizes,
.btn{
  font-family: 'ZCOOL XiaoWei';
}

.btn{
  background:#E2B2A2;
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.book-button{
  background: #E1BFB4;
  border: 1px solid #EAAC98;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

h1, h2, h3{
  font-family: 'ZCOOL XiaoWei';
}

