<mat-toolbar>
    
    Lavish Nails

    <ng-container *ngIf="authService.user$ | async as user; else loginButton">
        <div>
            <button mat-button routerLink="login">
                NAIL CATEGORY
             </button> 
             <button mat-button routerLink="login">
               CONTACT US
             </button> 

             <button mat-button [matMenuTriggerFor]="userMenu">
                <mat-icon>account_circle</mat-icon>
               {{user.displayName}}
                <mat-icon>expand_more</mat-icon>
            </button>
        </div>
       
      

    </ng-container>

    <ng-template #loginButton>
            <div>
                <button mat-button routerLink="login">
                    NAIL CATEGORY
                 </button> 
                 <button mat-button routerLink="login">
                   CONTACT US
                 </button> 
    
              
                <button mat-button routerLink="login">
                    <mat-icon>login</mat-icon>
                   LOGIN
                </button> 
                
            </div>
    </ng-template>

   
</mat-toolbar>









    <router-outlet></router-outlet>



<mat-menu #userMenu="matMenu">
    <button mat-button  [routerLink]="['/profile']">
        Profile
     </button>
    
  
     <button mat-menu-item (click)="logout()">Logout</button>
     

</mat-menu>

<!--
      <button mat-menu-item (click)="Book()">Bookings</button>
    <button mat-button  [routerLink]="['/AppointmentList']">
        Appointments
     </button>
-->