<mat-toolbar color="primary">
    
    Lavish Nails

    <ng-container *ngIf="user$ | async as user; else loginButton"
    >

        <button mat-button [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
           {{user.firstName}}
            <mat-icon>expand_more</mat-icon>
        </button>

    </ng-container>

    <ng-template #loginButton>
<div>
    

    <button mat-button routerLink="login">
        <mat-icon>login</mat-icon>
        Login
    </button> 
    
    


</div>
      

    </ng-template>

   
</mat-toolbar>








<div class="content">
    <router-outlet></router-outlet>
</div>


<mat-menu #userMenu="matMenu">
    <button mat-button  [routerLink]="['/profile']">
        Profile
     </button>
    
  
     <button mat-menu-item (click)="logout()">Logout</button>
     

</mat-menu>

<!--
      <button mat-menu-item (click)="Book()">Bookings</button>
    <button mat-button  [routerLink]="['/AppointmentList']">
        Appointments
     </button>
-->