.profile-image {
    position: relative;
    width: 120px;
    margin: auto;
  }

.form-container{
  padding-top: 30px;
  width: 600px;
  border: 0px;
  background: transparent;
  box-shadow: 0px 0px;
}

.profile-body{
  height: 800px;
  padding-top: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/assets/images/background3.svg);
  background-position: center top;
}

input{
  color: #E2B2A2;
  font-size: 12px;

}
input::placeholder {
  font-size: 12px;
  color:#E2B2A2;
}

::ng-deep .mat-form-field-infix{
  color: #E2B2A2;
}

  .profile-image > img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;

  }

  .profile-image > button {
    position: absolute;
    bottom: 10px;
    right: 0;
  }

  .row {
    display: flex;
    gap: 16px;
  }





  ::placeholder{
    color: white;
  }


