<div class="card textcenter my-3">

    <div class="apt-addheading card-header bg-primary text-white" >
     Confirm date and time
    </div><!-- card-header -->

    <div class="card-body">

      <form id="aptForm" novalidate
      (ngSubmit)="addAppointment(aptForm.value)"
      #aptForm="ngForm"
      >





        <div class="form-row">
        <div class="form-group col-md-6">
          <label class=" col-form-label text-md-right" for="aptDate">Date</label>
          <div class="  input-group">
            <input  class="form-control" id="aptDate" name="aptDate"  ngbDatepicker #d="ngbDatepicker" ngModel>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"> </button>
            </div>
          </div><!-- col-md-4 -->

        </div>
          <div class="form-group col-md-6">
          <label class="  col-form-label text-md-right" for="aptTime">Time</label>

          <input type="time" class="form-control" name="aptTime" id="aptTime" ngModel>

        </div><!-- form-group -->
        </div>





        <div class="form-group form-row mb-0">
          <div class="offset-md-2 col-md-10">
            <button type="submit" class="btn btn-primary d-block ml-auto"> Confirm Booking</button>
          </div><!-- col-md-offset-2 -->
        </div><!-- form-group -->

      </form>
    </div><!-- card-body -->
  </div><!-- card-primary -->



  <!--
  <div class="form-row">
        <div class="form-group col-md-12 ">
          <label class=" col-form-label text-md-right" for="clientName">Name</label>

            <input type="text" class="form-control" name="clientName" id="clientName" placeholder="Name" ngModel>

        </div>
      </div>

      <div class="form-group">
          <label class=" text-md-right" for="aptNotes">Notes</label>
          <div class=" ">
            <textarea class="form-control" rows="4" cols="50"
                      name="aptNotes" id="aptNotes" placeholder="Appointment Notes" ngModel> </textarea>
          </div> col-md-10
        </div> form-group


          <div class="form-row">
        <div class="form-group col-md-12 ">
          <label class=" col-form-label text-md-right" for="clientName">Name</label>

            <input type="text" class="form-control" name="clientName" id="clientName" placeholder="Name" ngModel>

        </div>
      </div>
  -->


      <!-- form-group
        <div class="form-group   ">
          <label class="  col-form-label text-md-right"
                 for="serviceType">Service Type</label>
                 <select name="serviceType"  class="form-control" id="serviceType" ngModel>
                  <option value="Acrylic">Acrylic</option>
                  <option value="Rubberbase">Rubberbase</option>
                  <option value="Polygel">Polygel</option>
                </select>

        </div>

        <div class="form-row">
        <div class="form-group  col-md-6  ">

          <label class=" col-form-label text-md-right"
                 for="serviceName">Service Name</label>
                 <select name="serviceName"  class="form-control" id="serviceName" ngModel>
                  <option value="Overlay">Overlay</option>
                  <option value="Overlay with gel polish">Overlay with gel polish</option>
                  <option value="Ombre/French">Ombre/French</option>
                  <option value="FullSet">FullSet</option>
                  <option value="FullSet Ombre/French">FullSet Ombre/French</option>

                </select>

        </div>

          <div class="form-group  col-md-6 ">
          <label class="  col-form-label text-md-right" for="size">Nail Size</label>
          <select name="size"  class="form-control" id="size" ngModel>
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
          </select>
        </div>
      </div>

      -->
